<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9">
    <h1 class="display-4"><span jhiTranslate="home.title">TeamFinder</span></h1>

    <div [ngSwitch]="account !== null">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message" [translateValues]="{ username: account.login }"
          >You are logged in as user "{{ account.login }}".</span
        >
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span>
          Your only chance of survival, if you are sincerely smitten, lies in hiding this fact from the woman you love, of feigning a casual
          detachment under all circumstances. What sadness there is in this simple observation! What an accusation against man! However, it
          had never occurred to me to contest this law, nor to imagine disobeying it: love makes you weak, and the weaker of the two is
          oppressed, tortured and finally killed by the other, who in his or her turn oppresses, tortures and kills without having evil
          intentions, without even getting pleasure from it, with complete indifference; that’s what men, normally, call love.
        </span>
        <br />
        <br />
        <span>
          Your only chance of survival, if you are sincerely smitten, lies in hiding this fact from the woman you love, of feigning a casual
          detachment under all circumstances. What sadness there is in this simple observation! What an accusation against man! However, it
          had never occurred to me to contest this law, nor to imagine disobeying it: love makes you weak, and the weaker of the two is
          oppressed, tortured and finally killed by the other, who in his or her turn oppresses, tortures and kills without having evil
          intentions, without even getting pleasure from it, with complete indifference; that’s what men, normally, call love.
        </span>
      </div>

      <p>
        <span jhiTranslate="home.like">If you like Team Finder, don't forget to give us a star on</span>
        <a href="https://github.com/Akash-Sareen/htm-hack" target="_blank" rel="noopener noreferrer" jhiTranslate="home.github">GitHub</a>!
      </p>
    </div>
  </div>
</div>
